#!/usr/bin/env python
# -*- coding: utf-8 -*-

#======== MATRIX =============
matrix_server="https://matrix.org"
matrix_username="redmine"
matrix_password="XXXX"
matrix_device_id="HSDNLQODDX"
matrix_bot_logic_file = "matrix_bot_rules.json"

# файл сохранения промежуточных данных (настройки для комнат):
data_file="matrix_data_file.json"

# если списки пусты, то бот будет принимать приглашения от всех:
# если казаны и домены и пользователи, то если совпало хоть одно - то бот примет приглашение, если ни одно из указанных не совпало - то не примет.
# разрешить приглашать бота в комнаты только MATRIX-пользователям с указанных MATRIX-доменов (хоумсервера) - указать через запятую можно:
# if list empty - allow invite from all users. 
# if list not empty - allow invite if any equal
allow_domains=["matrix.org"]
# разрешить приглашать бота в комнаты только указанному пользователю MATRIX:
allow_users=[]

# префикс, по которому бот понимает, что обращаются к нему:
bot_command="!redmine"
#======== Redmine =========
redmine_server="http://redmine.corp.com"
# redmine_matrix_user
redmine_api_access_key="XXXXXXXXXX"
# проект по-умолчанию:
redmine_def_project_id="tech_support_upr"

#========= Global ===========

log_path_bot="matrix_redmine_bot.log"
# how match keep backup log files:
log_backup_count=30
# can be:
# 'S' - Seconds
# 'M' - Minutes
# 'H' - Hours
# 'D' - Days
# 'W0'-'W6' - Weekday (0=Monday)
# 'midnight' - Roll over at midnight
log_backup_when='midnight'

debug=True
