[Unit]
Description=Redmine matrix bot
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
#Type=forking
ExecStartPre=/bin/true
ExecStart=/opt/matrix_redmine_bot/matrix_redmine_bot.py
ExecReload=/bin/true
KillSignal=SIGTERM
TimeoutSec=30
RestartSec=1
LimitNOFILE=32768

# watchdog:
WatchdogSec=5m
Restart=on-failure
# предельное количество попыток перезапуска:
StartLimitBurst=15
# интервал времени, в течение которого они подсчитываются
StartLimitInterval=60min
# юнит, который запустится при сбое этого юнита:
#OnFailure=
# что делать, если слишком часто сбоит: none, reboot, reboot-force и reboot-immediate
#StartLimitAction=none

User=redmine_bot

# Hardening
DeviceAllow=/dev/null rw
DeviceAllow=/dev/urandom r
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/run
ReadOnlyDirectories=/var
ReadWriteDirectories=/var/log/matrix_redmine
ReadWriteDirectories=/var/spool/matrix_redmine
#CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_NET_BIND_SERVICE
PermissionsStartOnly=yes

[Install]
WantedBy = multi-user.target


